body {
    font-family: Arial;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}

.align{
    text-align: center;
    color: rgb(0, 0, 0);
}

.centralimage{
    display: block;
    margin: auto;
    width: 40%;

}
.cheese{
    background-color: orange;
}
.border {
    padding:10px;
    border:10px solid #021a40;
 }
 .padding{
     padding: 50px;
 }
 .submit{
     background-color: black;
 }

.btn:active { 
     background-color: #FFF;

 }

.btn :hover {
     background-color: rgb(255, 27, 27); 
 }
 

.submitbtn {
    text-align: center; 
    font-size: 14px;
}

.button0 {
    background-color: rgb(190, 202, 121); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button3 {
    background-color: rgb(255, 166, 1); /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}