body {
	font-family: Helvetica;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}

.align{
    text-align: center;
    color: rgb(0, 0, 0);
}

.centralimage{
    display: block;
    margin: auto;
    width: 40%;

}
.cheese{
    background-color: orange;
}
.border {
    padding:10px;
    border:10px solid #021a40;
 }
 .padding{
     padding: 50px;
 }
 .submit{
     background-color: black;
 }

.btn:active { 
     background-color: #FFF;

 }

.btn :hover {
     background-color: rgb(255, 27, 27); 
 }
 

.submitbtn {
    text-align: center; 
    font-size: 14px;
}

